*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    display: block;
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    text-align: center;
    color: #824936;
}

.container{
    width: min(80%,1128px);
    margin: 0 auto;
    padding: min(7em,10vw) 0;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.col{
    width: 49%;
    
}

.header{
    background: #F3EED9;
    padding: 10em 0;
}

.header__content{
    width: min(700px,80%);
    margin: 0 auto;
}

.header__content p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #222C2A;
}

.section1 h2{
    color: #824936;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    padding-bottom: 0.9em;
}

.section1 p{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    color: #222C2A;
    font-weight: 400;
}

.section2 {
    background: #222C2A;
}

.section3 {
    background: #824936;
}

.img__txt{
    color: white;
}

.img__txt h2{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    padding-bottom: 0.5em;
}

.img__txt p{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 400;
}

.col img{
    width: 100%;
}